/* Give your page a fun background color */
body {
background-color: darkcyan;
margin: 0 auto;
text-align: center;
}
/* Make the header and footer a different color from the background */
header {
    background-color: palevioletred;
    max-width: max-content;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

ul {
    text-align:left;
    display: table;
    margin: 0 auto;
}

footer {
    background-color: burlywood;
    max-width: max-content;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    color:darkred;
    font-style: italic;
}
/* Put a border around your image */
img {
    border: solid black 10px;
    width: 50%;
}
/* Change the font-family of your list */
li {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}